.packBlock {
    border: 1px solid;
    border-radius: 10px;
    /*width: 27vh;*/
    width: 195px;
    /*width: 15%;*/
    height: 300px;
    text-align: center;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    background-color: #66bf3c;
    margin: 10px;
    box-shadow:1px 1px 7px 3px rgba(0,0,0,0.11);
    color: ivory;
    font-size: 20px;
    font-weight: bold;
    font-family: Corbel sans-serif;
}
.deleteButton {
    background-color: indianred;
    border-radius: 20px;
    width: 70%;
    margin: 20px auto;
    cursor: pointer;
}
.cardsShow {
    background-color: #66bf3c;
    cursor: pointer;
}
