.packBlock {
  position: relative;
  border-radius: 10px;
  width: 195px;
  height: 300px;
  text-align: center;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
  box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.11);
  color: ivory;
  font-size: 20px;
  font-family: sans-serif;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #050200;
    opacity: 0.3;
    border-radius: 10px;
    z-index: 0;
  }

  //
  //&:hover {
  //  transform: scale(1.01);
  //  transition: all 0.5s;
  //  border: 1px solid orange;
  //}
}

.packTitle {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  padding-top: 15px;

}

.author {
  flex-grow: 1;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: normal;
  padding: 0 20px;
}

.start {
  position: relative;
  z-index: 1;
  background-color: #228F78;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  margin: 0 auto;
  width: 150px;
  font-size: 17px;
  padding: 8px 15px;
  text-decoration: none;
  margin-bottom: 15px;
  border: none;
}

.start:hover {
  background-color: #1ca05c;
}

.start:active {
  position: relative;
  top: 1px;
}

.deleteButton {
  outline: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background: #d2d2d2;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  width: 20px;
  height: 20px;
  text-decoration: none;
  border: none;
  color: #2f2f2f;
  line-height: 10px;

  &:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
  }
}

.count {
  text-decoration: none;
  background-color: #228F78;
  cursor: pointer;
  color: #f1f1f1;
  opacity: 0.8;
  margin-bottom: 18px;
  font-size: 16px;
  padding: 5px 0;

  &:hover {
    color: white;;
  }
}

.link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #ffffff;

}
