.registerTitle{
  margin: 10px;
}
.error {
  color: orange;
}
.linkToLogin {
  margin-top: 10px;
  text-decoration: none;
  color: #ffffff;
  &:hover{
    color: orange;
  }
}
.registrationError {
  color: orange;
}

