.text {
  margin-top: 6px;
  text-transform: inherit;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 10px 10px;
  flex-grow: 1;
  color: #ffffff;
  height: 227px;
  overflow: auto;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }
  &::-webkit-scrollbar { width: 3px; height: 3px;}
  &::-webkit-scrollbar-button {  background-color: #228F78; }
  &::-webkit-scrollbar-track {  background-color: #228F78;}
  &::-webkit-scrollbar-track-piece { background-color:#228F78;}
  &::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
  &::-webkit-scrollbar-corner { background-color: #999;}
  &::-webkit-resizer { background-color: #666;}

}
.start {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  z-index: 1;
  background-color: #228F78;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  width: 150px;
  font-size: 17px;
  padding: 8px 15px;
  text-decoration: none;
  border: none;
}

  .start:hover {
    background-color: #1ca05c;
  }

  .start:active {
    bottom: 11px;
  }


.deleteButton {
  outline: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background: #d2d2d2;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  width: 20px;
  height: 20px;
  text-decoration: none;
  border: none;
  color: #2f2f2f;
  line-height: 10px;
  z-index: 1;//***

  &:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
  }
}


.link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #ffffff;

}

.box {
  background-color: transparent;
  border-radius: 10px;
  width: 195px;
  height: 300px;
  border: 1px solid #eeeeee;
  perspective: 1000px;
  margin: 10px;
}
.boxInner {

  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  border-radius: 10px;
}
.active.boxInner {
  transform: rotateY(180deg);
}
.boxFront, .boxBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;

}
.boxFront {
  background-color: #cccccc;
  color: #111111;
  display: flex;
  flex-direction: column;
}
.boxBack {
  background-color: #8ebf42;
  color: #eeeeee;
  transform: rotateY(180deg);
}